{% extends 'side.html' %}
{% load static %}
{% block content %}

{% if messages %}
    {% for message in messages %}
        <div class="alert alert-{{ message.tags }}">
            {{ message }}
        </div>
    {% endfor %}
{% endif %}
<div class="page-wrapper">
<div class="content">
<div class="page-header">
<div class="page-title">
<h4>Receiving</h4>
<h6>Receive ASN No. {{pod1.rec_asnno}}</h6>
</div>
</div>
<form action="{% url 'updaterec' pod1.id %}" method="post" enctype="multipart/form-data">
    {% csrf_token %}
<div class="card">
<div class="card-body">
<div class="row">
<div class="col-lg-3 col-sm-6 col-12">
<div class="form-group">
<label>Product Name</label>
<input type="text" name="name" value="{{prod_name}}" disabled>
</div>
</div>

<div class="col-lg-3 col-sm-6 col-12">
<div class="form-group">
<label>Code</label>
<input type="text" name="code" value="{{pod1.prod_id}}" disabled>
</div>
</div>
<div class="col-lg-3 col-sm-6 col-12">
<div class="form-group">
<label>Batch</label>
<input type="text" name="batch" value="{{pod1.batch}}" disabled>
</div>
</div>
<div class="col-lg-3 col-sm-6 col-12">
<div class="form-group">
<label>ASN QTY</label>
<input type="text" name="asnqty" value="{{ pod1.qty }} / {{ pod1.asn_qty }}" disabled>
</div>
</div>
<div class="col-lg-3 col-sm-6 col-12">
<div class="form-group">
<label>Rec. QTY</label>
<input type="number" name="recqty" step="0.01" min="0" required>
</div>
</div>

<div class="col-lg-3 col-sm-6 col-12">
<div class="form-group">
<label>Status</label>
<select class="select" name="status" required>
<option value="good">Good</option>
<option value="damage">Damage</option>
</select>
</div>
</div>
<div class="col-lg-3 col-sm-6 col-12">
<div class="form-group">
<label>Damage QTY</label>
<input type="number" name="statusqty" value="0" step="0.01" min="0" required>
</div>
</div>

<div class="col-lg-3 col-sm-6 col-12" >
<div class="form-group">
<label>M.F.G</label>
<input type="date" name="mfg" max="{% now 'Y-m-d' %}" value="{{ pod1.mfg }}" required>
<input type="date" name="exp" min="{% now 'Y-m-d' %}" value="{{ pod1.expiry }}" required>

</div>
</div>
 
<!--

<div class="col-lg-3 col-sm-6 col-12">
<div class="form-group">
<label>Discount Type</label>
<select class="select">
<option>Percentage</option>
<option>10%</option>
<option>20%</option>
</select>
</div>
</div>
<div class="col-lg-3 col-sm-6 col-12">
<div class="form-group">
<label>Price</label>
<input type="text" value="1500.00">
</div>
</div>
<div class="col-lg-3 col-sm-6 col-12">
<div class="form-group">
<label> Status</label>
<select class="select">
<option>Active</option>
<option>Open</option>
</select>
</div>
</div>

<div class="col-lg-12">
<div class="form-group">
<label> Product Image</label>
<div class="image-upload">
<input type="file">
<div class="image-uploads">
<img src="assets/img/icons/upload.svg" alt="img">
<h4>Drag and drop a file to upload</h4>
</div>
</div>
</div>
</div>

<div class="col-12">
<div class="product-list">
<ul class="row">
<li>
<div class="productviews">
<div class="productviewsimg">
<img src="assets/img/icons/macbook.svg" alt="img">
</div>
<div class="productviewscontent">
<div class="productviewsname">
<h2>macbookpro.jpg</h2>
<h3>581kb</h3>
</div>
<a href="javascript:void(0);" class="hideset">x</a>
</div>
</div>
</li>
</ul>
</div>
</div>
-->
<div class="col-lg-12">
<input type="submit" value="update" class="btn btn-submit me-2">
<a href="productlist.html" class="btn btn-cancel">Cancel</a>
</div>
</div>
</div>
</div>
</form>

</div>
</div>

{% endblock %}

